
	               
                           <div class="panel panel-flat border-left-info">
								<div class="panel-heading">
									<h6 class="panel-title"><span class="text-semibold">Welcome </span></h6>
								</div>
								
								<div class="panel-body">
									This page is dashboard for small charts that transaction report and list.
								</div>
							</div>
