     
        <div class="panel panel-flat border-left-grey border-right-grey">
								
            <div class="panel-body">
              
                <div class="content-group">
                    <form action="/transaction" method="post">
                        <div class="col-md-8 ">
                            <input type="text"   class="form-control" name="transactionId" placeholder="Please enter the Transaction ID">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-success"> Query </button>
                        </div>
                     </form>
                </div>
               
            </div>
	    </div>
  <div class="panel panel-flat border-left-grey border-right-grey">
    <div class="panel-body">
        <div class="content-group">
			<p><span class="text-semibold">JSON</span> result</p>
				<div id="json_editor">
                {{json transactionData}}
                </div>
		</div>
    </div>
</div>
    
